<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalDismiss()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rank details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <ion-item >
      <ion-label><span><b>Rank:</b></span> {{selectedItem.rankName}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label><span><b>Location:</b></span> {{selectedItem.rankLocation}}</ion-label>
    </ion-item>
    <ion-item >
      <ion-label><span><b>Lane: </b></span>{{selectedItem.rankLane}}</ion-label>
    </ion-item>
  <ion-item lines="none">
    <ion-label><span><b>Price: R</b></span> {{selectedItem.farePrice}}</ion-label>
  </ion-item>
</ion-card> 
<ion-card>
<!-- <p>{{numberOfLikes}}</p>
<ion-button class="btn btn-success" (click)="likeButtonClick()">Like</ion-button>
<p>{{numberOfDislikes}}</p>
<ion-button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</ion-button> -->

<!-- <ion-button [routerLink]="['/reviews']" >Reviews</ion-button> -->
</ion-card>
</ion-content>

