ion-button{
    --background: #76a693;
    --color: #f2f3f4;
}
.img {
    display: block;
    width: 50%;
    height: 50px;;
    animation: animation 3100ms linear infinite both;
    animation-delay: 5s;
   
    
  }
  ion-content{
    --background:#fcfcfc;
}