<ion-header>
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row class="ion-align-items-center">
        <ion-col size="1">
          <ion-icon name="arrow-round-down" style="font-size: 40px;" (click)="closeModal()" class="animated fadeInDown">
          </ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-searchbar placeholder="My location" [value]="current.address | shorten: 22:'...'" disabled
            class="searchLocation">
          </ion-searchbar>
          <ion-searchbar placeholder="Where to..." (ionInput)="filterData($event)" [(ngModel)]="selectedValue" >
          </ion-searchbar>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>



<ion-content>
  

  <ion-list>

    <ion-item (click)="selectVal(item.rankLocation, item.rankId, item.lat, item.lng, item.rankName, 
    item.farePrice, item.rankLane, item.streetName, item.route,  item.destinationEntity[0].destRankName ,
    item.destinationEntity[0].destStreetName, item.destinationEntity[0].destLat, item.destinationEntity[0].destLng )"
    
    *ngFor="let item of Ranks; let i=index">

    <!-- val, id, latitude, longitude,rankname, price, lane , streetName, route , destName , destLat, destLong, destStreetName  -->

        {{item.rankLocation}}
       
    </ion-item>
</ion-list>

  
</ion-content>