<ion-item-group>

  <ion-item (click)="closeMenu()">
    <ion-label [routerLink]="['/rank-list']">Rank List</ion-label>
  </ion-item>
<!-- 
  <ion-item (click)="closeMenu()">
    <ion-label [routerLink]="['/reviews']">Add a review</ion-label>
  </ion-item> -->

</ion-item-group>