<ion-toolbar>
  <ion-col size="1">
    <ion-icon name="arrow-round-down" style="font-size: 40px;" (click)="closeModal()" class="animated fadeInDown">
    </ion-icon>
  </ion-col>
  <h2 class="ion-text-center" colour="secondary">Contribute</h2>
</ion-toolbar>

<ion-content>
  <div class="container">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
  </div>
</ion-content>

<ion-content style="padding-top: 3px;">
  <div class="BtnStyles">
    <ion-item>
      <ion-label placeholder="Select a position on map." position="floating"></ion-label>
      <ion-input color="primary" placeholder="Drag map for to locate" [(ngModel)]="address" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label placeholder="Tell us more about this place." position="floating"></ion-label>
      <ion-textarea name="suggestion" [(ngModel)]="contribute" placeholder="Destination"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label placeholder="Tell us more about this place." position="floating"></ion-label>
      <ion-textarea name="price" [(ngModel)]="price" placeholder="Price"></ion-textarea>
    </ion-item>
  </div>
  <ion-button expand="full" shape="round" type="submit" (click)="postsuggestDB(contribute)">Submit</ion-button>
</ion-content>

