
agm-map {
    
    height: 400px;
}
ion-button{
    --background: #76a693;
    --background-activated: #76a693;
    --background-focused: #76a693;
    --background-hover: #76a693;
    --color: #f2f3f4;
}