<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-searchbar class='card-style' (ionInput)="filterData($event)"   ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 
  
  
 <ion-card *ngFor="let item of Ranks; let i = index">
    <ion-item class='card-content' (click)="viewDetails(item, i)">
      <ion-avatar slot="start">
        <ion-icon class='icon-spacing' name="bus"></ion-icon>
      </ion-avatar>
      <ion-label>
        {{item.rankLocation}}
        <p class='text-spacing'>{{item.streetName}}</p>
        {{item.rankName}}
        

        <p></p>
        
      </ion-label>
      
    </ion-item>  
 </ion-card>

 <ion-card class='card-style' *ngFor="let item of Contributors; let i = index">
    <ng-template #elseBlock>
      <ion-item class='card-content' (click)="viewDetails(item, i)">
        <ion-avatar slot="start">
          <ion-icon class='icon-spacing' name="person"></ion-icon>
        </ion-avatar>
        <ion-label>
          {{item.rankLocation}}
          <p>{{item.streetName}}</p>
          <p>Suggested by: {{item.Contributor}}</p>
        </ion-label>
      </ion-item>
      </ng-template>
      
  </ion-card> 


    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="contributor()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="contributor()" class="ionfab">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button >
  </ion-fab>
</ion-content>
