.ionfab {
    // --background: #76a6938c;
    --background: #76a693;
    --background-activated: #76a693;
    --background-focused: #76a693;
    --background-hover: #76a693;
    --color: #f2f3f4;
  }


  ion-card {
    border-radius: 30px 30px 0px 0px;
    z-index: 99;
    --background: #76a693;
    margin-top: -20px;
    height: 150px;
  }

 


