<ion-label class="center"></ion-label>

<ion-content class="ion-no-padding">

  <agm-map [style.height.px]="height" [latitude]="lat" [longitude]="lng" [zoom]="16">


    <agm-marker [latitude]="lat" [longitude]="lng" [label]="label" >

          <agm-info-window>
           {{address}}
          </agm-info-window>

    </agm-marker>
   
   
    
    <agm-marker [latitude]="service.selectedLat" [longitude]="service.selectedLong" [label]="label" >

        <agm-info-window>
            <strong>{{service.selectedrankName}}</strong><br>
            <strong>{{service.selectedValue}}</strong><br>
            <strong>R {{service.selectedFareprice}}</strong><br>
            <strong>{{service.selectedLane}}</strong><br>
            <strong>usual Route : {{service.selectedRoute}}</strong>

        </agm-info-window>

    </agm-marker> 


    

  <agm-marker [latitude]="service.selectedDesLat" [longitude]="service.selectedDesLng"   [label]="label">


    <agm-info-window>
        <strong>{{service.selectedDestName}}</strong><br>
        <strong>{{service.selectedDesStreetName}}</strong><br>
        <strong>{{service.selectedValue}}</strong><br>
       
    </agm-info-window>


</agm-marker>

<agm-direction [origin]="dir.origin" [destination]="dir.destination"   [travelMode]="'WALKING'"> </agm-direction>

  </agm-map>

  

  <ion-card class="ion-no-margin">
    

    <ion-card-content class="ion-text-center ion-no-padding">
      
   <ion-grid fixed>
     <ion-row class="align-self-center">
       <ion-col size="10" offset="1">
          <ion-searchbar placeholder="Where to..."  [(ngModel)]="service.selectedValue" (click)="whereToModal()" class="animated fadeInUp"></ion-searchbar>
       </ion-col>
     </ion-row>
   </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="top" horizontal="start" slot="fixed" (click)="menuPopover($event)" class="animated pulse infinite slower">
  <ion-fab-button class="ionfab">
      <ion-icon name="more"></ion-icon>
  </ion-fab-button>
</ion-fab>