<ion-header no-border>
  <ion-toolbar color="primary">

      <ion-button (click)="presentPopover($event)" class="button1" shape="round">
          <ion-icon name="menu"></ion-icon>
        </ion-button>

    <ion-title> Reviews </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- This is where the map will be displayed -->
  <ion-card class="mapClass">
    <ion-card-content>
        This is where the map of Johannesburg city will appear <strong>{{users}}</strong> !
    </ion-card-content>
  </ion-card>
</ion-content>


  <!-- List of reviews starts here -->
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let userReview of reviews; let i = index">
        <ion-card class="comment"> 
            <ion-card-content>
                {{userReview}}
            </ion-card-content>
        </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <textarea class="textarea" autosize maxRows="7" spellcheck="true" autoComplete="true" autocorrect="true" rows="1" 
      class="chat-input" [(ngModel)]="review" placeholder="Enter your review here " >
    </textarea>

    <ion-buttons slot="primary">
      <ion-button (click)="postDB()" slot="end" class="send-chat-button">
         <ion-icon slot="icon-only" name="send" color="primary" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>